.menu-tab {
    position: relative;
    display: inline-block;
}

#menu-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.menu-options {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 0;
}

.menu-options li {
    border-bottom: 1px solid #ccc;
}

.menu-options li:last-child {
    border-bottom: none;
}

.menu-options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.menu-options a:hover {
    background-color: #f2f2f2;
}
